fastapi==0.111.0
langgraph
langchain-community
langchain-openai
langchain-milvus==0.1.10
langchain-huggingface
langfuse
pymilvus==2.5.8
pymongo
lancedb
FlagEmbedding
requests
httpx
numpy
openai
uvicorn
praw
finance-datareader
opendartreader
prophet
plotly
statsmodels
prophet
statsmodels
plotly
motor
youtube-transcript-api
google-api-python-client
psycopg2-binary
asyncpg
psycopg-pool
psycopg[binary,pool]
langgraph-checkpoint-postgres
langchain-neo4j
mojito2